$homeBackground: #e4e4e4;
$homeColor: #323232;

$powderOrangeBackground: #ff7800;
$powderOrangeColor: #ffcd00;
$powderKiwiBackground: #46be50;
$powderKiwiColor: #bef064;
$powderRaspberryBackground: #d9042b;
$powderRaspberryColor: #ffc3b9;

$capsuleBackground: #3e5edd;

$effectBackground: #ffc3b9;
$effectColor: #910050;

$storesBackground: #bef064;
$storesColor: #006450;

$footerBackground: #323232;

@mixin mq($width, $type: max) {
  @if $type==max {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}
