$homeBackground: #e4e4e4;
$homeColor: #323232;

$powderOrangeBackground: #FF7800;
$powderOrangeColor: #FFCD00;
$powderKiwiBackground: #46be50;
$powderKiwiColor: #bef064;
$powderRaspberryBackground: #D9042B;
$powderRaspberryColor: #FFC3B9;

$capsuleBackground: #3e5edd;

$effectBackground: #ffc3b9;
$effectColor: #910050;

$storesBackground: #BEF064;
$storesColor: #006450;

$footerBackground: #323232;